@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Noto+Sans&display=swap');
#contact-div{

    display:flex;
    flex-direction: column;
    height:90vh;
    align-items:center;
    justify-content: center;
   
}
#contact-text{
    margin:auto;
    color:white;
    font-size:60px;
    font-family: 'ABeeZee', sans-serif;
    
}
#contact-info{
    margin-top:auto;
    display:flex;
    flex-direction: column;
    font-size: 35px;
    font-family: 'ABeeZee', sans-serif;
    color:white;

}